<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport"

          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher | LearnZone</title>
    <!--Ion Icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <!--Our own stylesheet-->
    <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
</head>
<body>

    <header>




        <div class="container"></div>
        <nav>
            <
            <div class="nav-brand">
                <a href='/'>
                    <img src ="/static/Images/logo.png" alt="logo">
                </a>
            </div>

            <div class="topnav">
                    <a class="active" href='/UserAccount/logout/teacher'>Logout</a>
                    <a href='upload'>Upload Assignment</a>
                    <a href='chat'>Chat</a>
                    <a href="https://www.youtube.com/channel/UCaBbuY2RRlKmL8k0xOLqJ3g">Upload Tutorial</a>
                    <a href="https://www.youtube.com/channel/UCaBbuY2RRlKmL8k0xOLqJ3g">Go Live</a>
                    <a href='calendar'>Calendar</a>
                    <a href='gradebook'>Gradebook</a>
                    {% if user.is_authenticated %}
                    <h1> Welcome Professor {{ user.username }} !</h1>
                    {% endif %}
              </div>
        </nav>
    </header>

    <section class="back">
        <div class="container">
            <div class="main-message">
                
                <p><img src="/static/Images/teacher.png" alt="teacher/student" class="pic">
                </p>
                <div class="cta">
                </div>
            </div>
        </div>
        <div class="slogan">
                <p style="font-size:35px">Notifications:</p>
                <br /> 

                <p style="font-size:20px">mohammedashraf, submitted Assignment 1 on Monday 13th of November at 10.31 PM</p>
                <br /> 

            <p style="font-size:20px">nournada, submitted Project Milestone 2 on Monday 13th of November at 3.22 PM</p>
            <br /> 

            <p style="font-size:20px">salmaaly, submitted Exam3 on Monday 13th of November at 10.34 AM</p>        </div>
    </section>

    <script type="text/javascript" src="/static/js/hp.js"></script>
</body>
</html>