<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% load static %}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <!--Ion Icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <!--Our own stylesheet-->
    <link rel="stylesheet" href="{% static 'css/hp.css' %}">
</head>
<body>

    <header>



        <div class="container"></div>


    </header>

    <section class="back">
                <div class="container"></div>
              <div class="nav-brand">
                <a href='/'>
                    <img src ="/static/Images/logo.png" alt="logo">
                </a>
            </div>

            <p> LearnZone is a non-profit online educational platform that offers an exceptional expereince for highschool students where they can interact as if they are in an actual classroom ! </p>
            <br/>

            <p style="color:red"> Students can : </p>
            <p> - Chat with their classmates and teachers -  </p>
            <p> - Recieve daily reminders on their school's calendar and book office hours - </p>
            <p> - Watch live and recorded tutorials by their teachers- </p>
            <p> - Access an online library with thousands of sources and books- </p>
            <p> - Get updated of their class progress by viewing their gradebooks- </p>
            <p> - Submit their assignments- </p>
            <br/>
            <p style="color:red"> Teachers can : </p>
            <p> - Upload assignments for their students -  </p>
            <p> - Send daily reminders through calendar -  </p>
            <p> - Conduct a live session or upload a recorded one -  </p>
            <p> - Upload students' grades -  </p>
            <p> - Chat with students and avoid the hassle of emails -  </p>
            <br/>
            <p style="color:red"> Parents can : </p>
            <p> - Use their son's/daughter's account credentials to access their gradebook and stay updated with their progress in school -  </p>

     
    </section>

    <script type="text/javascript" src="/static/js/hp.js"></script>
</body>



</html>