<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% load static %}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQs | LearnZone</title>
    <!--Ion Icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <!--Our own stylesheet-->
    <link rel="stylesheet" href="{% static 'css/faq.css' %}" >
</head>
<body>

    <header>
     
        <div class="container"></div>
        <nav>
            <
            <div class="nav-brand">
                <a href='/'>
                    <img src ="/static/Images/logo.png" alt="logo">
                </a>
            </div>

         
        </nav>
    </header>

    <section class="back">
        <div class="container">
            <div class="main-message">
                
               
                    <p><img src="/static/Images/question.png" alt="ques" class="pic">
                    </p>
                <div class="cta">
                </div>
            </div>
        </div>
        <div class="slogan">
            <p>Q: Do I have to pay any registration fees ?</p>
            <p style="color:red">A: LearnZone is completely free.</p>
            <p>Q: How can I register ?</p>
            <p style="color:red">A: Click on Join Now and you will be asked to sign up or login .</p>
            <p>Q:Can parents view the gradebook of a student ?</p>
            <p style="color:red">A: Yes ! Parents could check their son's/daughter's grades and class progress by logging in using the student's credentials .</p>
            <p>Q: I need to get in contact with the platform's developing team?</p>
            <p style="color:red">A: Mohammed A. Taha : mohammedashraf@aucegypt.edu</p>
            <p style="color:red"> Nour M. Nada : nournada@aucegypt.edu</p>
            <p style="color:red">Salma Aly: smaly@aucegypt.edu</p>
            <p style="color:red">Youssef K. Beshir : youssefbeshir@aucegypt.edu</p>




            










        </div>
    </section>

    <script type="text/javascript" src="/static/js/hp.js"></script>
</body>
</html>